.backgroundpic{
    background-image:  'https://cdn.discordapp.com/attachments/1212842028753494046/1214565104587120740/e-learning-and-online-education-for-student-and-university-concept-graphic-interface-showing-technology-of-digital-training-course-for-people-to-do-r-2AAW47H.jpg?ex=65f992e6&is=65e71de6&hm=9b621eb0fa2f35a7f6f72926d557b68575fed7e2be005cb37cbe98fd7b3493c4&';
    

}
.team {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.aboutus-img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

.text {
    width: 600px;
    position: absolute;
    top: 250px;
    left: 150px;
    color: white;
    font-size: 25px;
    font-weight: 550;
    font-family: Optima;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}

.text h1 {
    margin-bottom: 40px;

}

.text p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 80px;
}

.text span {
    background: pink;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0px;
}

.idea {
    animation: slide1 12s linear infinite;
}

.vision {
    animation: slide2 12s linear infinite;
}

.apart {
    animation: slide3 12s linear infinite;
}

.team {
    animation: slide4 12s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide4 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes textup {
    10% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

.text1 {
    animation-delay: 0s;
}

.text2 {
    animation-delay: 3s;
}

.text3 {
    animation-delay: 6s;
}

.text4 {
    animation-delay: 9s;
}